@model Autorepuestos.Entities.FacturaEntities
@{
    ViewBag.Title = "Consultar tipo Pago";
}

<div class="contenedor">
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="background-color: white">
                <div class="card-header" style="background-color: #cbcbcb; height: 50px;">
                    <h3 class="titulo-card-estilo">Elija su metodo de pago</h3>
                </div>
                <div class="card-body">
                    <br />

                    @using (Html.BeginForm("ConsultarTipoPago", "Factura", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-layout row mg-b-25" }))
                    {
                        <div class="row">

                            <div class="col-md-4">
                                @Html.LabelFor(m => m.IdTipoPago, htmlAttributes: new{@class="form-control-label col-md-4"})
                                @Html.DropDownListFor(m => m.IdTipoPago, ViewBag.ComboTipoPago as List<SelectListItem>, new{@type = "text ",@class = "form-control col-md-4"})
                            </div>

                            <div class="col-md-4">
                                @Html.LabelFor(m => m.IdTipoRetiro, htmlAttributes: new{@class="form-control-label col-md-4"})
                                @Html.DropDownListFor(m => m.IdTipoRetiro, ViewBag.ComboTipoRetiro as List<SelectListItem>, new{@type = "text ",@class = "form-control col-md-4"})
                            </div>

                        </div>

                        <br />
                        <br />
                        <br />

                        <div class="row">
                            <div class="col-md-8">
                                <button class="btn btn-success" role="button">Agregar</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


