@{
    ViewBag.Title = "CarritoCompras";
}

    <h1>Carrito</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Bateria</th>
                <td>$2000</td>
                <td><input type="number" value="1" style="width: 80px;"></td>
                <td><a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Eliminar</a></td>
            </tr>
            <tr>
                <th scope="row">Retrovisores</th>
                <td>$200</td>
                <td><input type="number" value="4" style="width: 80px;"></td>
                <td><a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Eliminar</a></td>
            </tr>
            <tr>
                <th scope="row">Radiador</th>
                <td>$200</td>
                <td><input type="number" value="2" style="width: 80px;"></td>
                <td><a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Eliminar</a></td>
            </tr>
        </tbody>
    </table>
    <a href="@Url.Action("AdquirirProducto", "Home")" class="btn btn-primary">Finalizar Compra</a>

    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Producto eliminado de forma exitosa.
                </div>
            </div>
        </div>
    </div>