@model Autorepuestos.Entities.UsuariosEntities

@{
    ViewData["Tittle"] = "InicioSesión";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="d-flex align-items-center justify-content-center bg-sl-primary ht-100v">

    <div class="login-wrapper wd-300 wd-xs-350 pd-25 pd-xs-40 bg-white" style="width: 700px">
        <div class="signin-logo tx-center tx-24 tx-bold tx-inverse">AutoRepuestos<span class="tx-info tx-normal">DoñaAna</span></div>
        <br />
        <div class="tx-center mg-b-60">Escriba el correo electrónico con el que se ha registrado.</div>

        @using (Html.BeginForm("RecuperarContrasenna", "Home", FormMethod.Post))
        {
            Html.AntiForgeryToken();

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.pCorreo, new {@class="form-control", @placeholder="Correo", @onblur = "CorreoExistente2();"})
                        @Html.ValidationMessageFor(m => m.pCorreo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-layout-footer">
                <input type="submit" id="RecuperarContrasena" disabled class="btn btn-info" value="Recuperar contraseña" onclick="Recuperar();"/>
                <a role="button" class="btn btn-secondary" href="@Url.Action("Index","Home")">Volver</a>
            </div>
            <br />
            @if (TempData["ExitoMensaje"] != null)
            {
                <div class="alert alert-success" role="alert">
                    <p>@TempData["ExitoMensaje"]</p>
                    <p>Por favor, presione el botón "Volver" e ingrese sus credenciales para iniciar sesión.</p>
                </div>
            }
        }
    </div>
</div>

<script src="~/js/site.js"></script>

