<div class="container my-5">
    <div class="row">
        <div class="col-lg-6">
            <h1 class="mb-4">Sobre nosotros</h1>
            <p>Somos una empresa de autorepuestos comprometida con la satisfacción de nuestros clientes. Ofrecemos una amplia variedad de productos de alta calidad a precios competitivos. Estamos ubicados en la siguiente dirección:</p>
            <p><strong>Coordenadas:</strong> 9°55'06.1"N 84°06'16.5"W</p>
            <!-- Mapa de Google con la ubicación de la empresa -->
            <div id="map"></div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3926.512962974722!2d-84.07193548563566!3d9.918360692787315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zOcO1NTUnMDYuNSdCMRQxMjYsINCc0LjRgdCw0LjQsNzbQlSwg0JLQuNGX0LI!5e0!3m2!1sen!2scr!4v1616809284795!5m2!1sen!2scr"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="col-lg-6">
            <!-- Imagen del logo -->
            <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 150px; height: 150px;">
                <img src="/template/imagen/Logo.png" height="70" alt="" loading="lazy" />
            </div>
            <!-- Objetivos de la empresa -->
            <h3 class="mb-3">Nuestros objetivos</h3>
            <ul>
                <li>Ofrecer productos de alta calidad a precios competitivos.</li>
                <li>Brindar un servicio excepcional a nuestros clientes.</li>
                <li>Contribuir al desarrollo del sector de autorepuestos en la región.</li>
            </ul>
        </div>
    </div>
</div>