
@{
    ViewBag.Title = "Principal";
}

    <h1>Reportes</h1>
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Año</th>
                <th>Mes</th>
                <th>Ventas Generadas</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2021</td>
                <td>04</td>
                <td>₡350,800</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>11</td>
                <td>₡330,750</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>05</td>
                <td>₡455,800</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>04</td>
                <td>₡430,800</td>
            </tr>
            <tr>
                <td>2019</td>
                <td>05</td>
                <td>₡290,000</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>03</td>
                <td>₡500,300</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>05</td>
                <td>₡320,000</td>
            </tr>
        <tbody>
    </table>


