
@{
    ViewBag.Title = "TablaDevolucion";
}

    <h1>Bitacoras</h1>
    <div class="table-responsive">
        <table class="table mg-b-0">
            <thead>
                <tr>
                    <th>ID Usuario</th>
                    <th>Fecha de ingreso</th>
                    <th>Rol</th>
                    <th>ID Producto</th>
                    <th>Nombre del producto</th>
                    <th>Motivo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>12</td>
                    <td>2022-08-29</td>
                    <td>Cliente</td>
                    <td>3</td>
                    <td>Radiador</td>
                    <td>Enviaron el modelo incorrecto</td>
                </tr>
                <tr>
                    <td>05</td>
                    <td>2022-03-17</td>
                    <td>Cliente</td>
                    <td>5</td>
                    <td>Clutch</td>
                    <td>Está en mal estado</td>
                </tr>
                <tr>
                    <td>02</td>
                    <td>2022-12-08</td>
                    <td>Vendedor</td>
                    <td>7</td>
                    <td>Bomba de Agua</td>
                    <td>Se le devuelve al proveedor ya que no está en buen estado</td>
                </tr>
            </tbody>
        </table>
    </div>


